{% extends 'accounts/base.html' %}

{% block content %}

<div class="container mt-5">

    <div class="card p-4 shadow">

        <h2 class="mb-4">
            Add Review
        </h2>

        <h5>
            Skill:
            {{ skill.title }}
        </h5>

        <form method="POST">

            {% csrf_token %}

            <!-- Rating -->
            <label class="mt-3">
                Rating (1-5)
            </label>

            <input
                type="number"
                name="rating"
                min="1"
                max="5"
                class="form-control"
                required
            >

            <!-- Comment -->
            <label class="mt-3">
                Comment
            </label>

            <textarea
                name="comment"
                class="form-control"
                rows="4"
                required
            ></textarea>

            <button
                type="submit"
                class="btn btn-success mt-4"
            >
                Submit Review
            </button>

        </form>

    </div>

</div>

{% endblock %}